<!-- <footer class="text-light text-center ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-2">
        <img
          src="assets/img/logo.png"
          alt="Logo"
          class="footer-logo w-50 h-75 mr-3 mt-2"
        />
      </div>

      <div class="col-sm-6 d-flex align-items-center justify-content-end">
        <p class="mb-0 text-dark">
          &copy; 2024 vegeStore. All rights reserved.
        </p>
      </div>

      <div class="col-sm-4 d-flex justify-content-end">
        <img src="assets/img/hero/instagram.png" class="socialIcons" alt="" />
        <img src="assets/img/hero/facebook.png" class="socialIcons" alt="" />
        <img src="assets/img/hero/twitter.png" class="socialIcons" alt="" />
      </div>
    </div>
  </footer> -->

<footer class="container align-items-center footerWrapper mt-4">
  <div class="row">
    <div
      class="col-sm-3 d-flex justify-content-center justify-content-md-start"
    >
      <img src="assets/img/logo.png" alt="Logo" height="70px " />
    </div>
    <div class="col-sm-5 d-flex align-items-center justify-content-center">
      <p class="text-dark text-center">
        &copy; 2024 vegeStore. All rights reserved.
      </p>
    </div>
    <div
      class="col-sm-4 d-flex justify-content-center justify-content-md-end align-items-center"
    >
      <img src="assets/img/hero/instagram.png" class="socialIcons" alt="" />
      <img src="assets/img/hero/facebook.png" class="socialIcons" alt="" />
      <img src="assets/img/hero/twitter.png" class="socialIcons" alt="" />
    </div>
  </div>
</footer>
