<app-header></app-header>
<div class="container" style="min-height: 65vh">
  <div class="row">
    <div class="col d-flex flex-row justify-content-center">
      <div class="section-title">
        <h2>Shop</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="filterForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-4">
            <input
              type="text"
              placeholder="Filter by Title"
              formControlName="title"
              class="inputFields w-100 mt-1"
            />
          </div>
          <div class="col-md-4">
            <input
              type="number"
              placeholder="Filter by Price"
              formControlName="price"
              class="inputFields w-100 mt-1"
            />
          </div>
          <div class="col-md-4 mt-1">
            <button
              class="btn btnSearch btnShopNow float-start w-50"
              type="submit"
            >
              Search
            </button>
            <button
              *ngIf="token"
              type="button"
              class="btn btn-primary w-50"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btnSearch btnAddProduct float-end"
            >
              Add Products
            </button>
          </div>
        </div>
      </form>
      <div class="row mt-2">
        <ng-container *ngFor="let product of products">
          <div class="col-sm-6 col-md-4 col-xl-3">
            <div
              class="card my-2 border-1-solid"
              style="border-color: #7fad39 !important"
            >
              <img [src]="product.thumbnail" class="card-img-top" alt="..." />
              <div class="card-body text-center">
                <div class="row d-flex justify-content-center">
                  <div class="productTitle col-sm-6 text-start">
                    {{ product.title }}
                  </div>
                  <!-- <div class="col-sm-6 text-end productQuantity">1Kg</div> -->
                  <div class="col-sm-6 text-end">
                    {{ product.price + "$ per Kg" }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 d-flex flex-row justify-content-center">
                    <input
                      type="number"
                      class="form-control form-control-sm w-100"
                      placeholder="Quan: in KGs"
                      [value]="product.quantity"
                      (keyup)="updateQuantity(product, $event)"
                    />
                  </div>
                  <div class="col-6 d-flex flex-row justify-content-center">
                    <button
                      class="btn btnShopNow btn-sm w-100"
                      (click)="addtoCart(product)"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="token">
                  <div class="col-12">
                    <button
                      class="btn btn-sm float-end"
                      (click)="deleteProduct(product)"
                    >
                      <img
                        style="margin-top: 2px"
                        src="../../../../assets/img/delete.svg"
                        alt=""
                        height="33px"
                      />
                    </button>
                    <button
                      class="btn btn-sm float-end"
                      (click)="setId(product)"
                      data-bs-toggle="modal"
                      data-bs-target="#editModal"
                    >
                      <img
                        style="margin-top: 4px !important"
                        src="../../../../assets/img/edit.svg"
                        alt=""
                        height="33px"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clear()"
        ></button>
      </div>
      <form action="" [formGroup]="productForm">
        <!-- <div class="row">
          <div class="col-12 d-flex flex-row justify-content-center">
            <img [src]="photo" alt=""  />
          </div>
          <div class="col-12" style="display: none">
            <input
              (change)="readURL($event)"
              type="file"
              style="display: none"
              class="form-control"
              #fileInput
              placeholder="Image URL"
            />
          </div>
        </div> -->
        <div class="row mt-2">
          <div
            *ngIf="photo"
            class="col-12 d-flex flex-row justify-content-center"
          >
            <img [src]="photo" alt="" />
          </div>

          <div class="col">
            <div
              class="w-100 rounded border-success d-flex justify-content-center uploaddiv"
              style="cursor: pointer"
              (click)="triggerFileUpload()"
            >
              <div class="d-flex flex-column">
                <!-- <img src="./../../../../assets/img/UploadIcon.png" alt="img" /> -->
                <span class="">Drag and drop image, or browse</span>
                <span class="text-muted requirements"
                  ><small style="margin: auto">support jpg, jpeg, png</small>

                  <small style="margin: auto"
                    >Resolution must be 512px by 512px</small
                  >
                </span>
                <input
                  style="display: none"
                  class="file-input"
                  type="file"
                  (change)="readURL($event)"
                  accept=".jpg,.jpeg,.png"
                  #fileInput
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-2">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              formControlName="title"
            />
          </div>
          <div class="col-6 mt-2">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              formControlName="price"
            />
          </div>
        </div>
      </form>
      <div class="row mt-2">
        <div class="col-12">
          <button
            [disabled]="!productForm.valid"
            type="button"
            class="btn btn-sm float-end w-25"
            (click)="addProduct()"
            data-bs-dismiss="modal"
            style="background-color: #7fad39; color: #fff"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clear()"
        ></button>
      </div>
      <form action="" [formGroup]="productForm">
        <!-- <div class="row">
          <div class="col-12 d-flex flex-row justify-content-center">
            <img [src]="photo" alt="" (change)="readURL($event)" />
          </div>
          <div class="col-12" style="display: none">
            <input
              (change)="readURL($event)"
              type="file"
              style="display: none"
              class="form-control"
              #fileInput
              placeholder="Image URL"
            />
          </div>
        </div> -->
        <div class="row mt-2">
          <div
            *ngIf="photo"
            class="col-12 d-flex flex-row justify-content-center"
          >
            <img [src]="photo" alt="" />
          </div>

          <div class="col">
            <div
              class="w-100 rounded border-success d-flex justify-content-center uploaddiv"
              style="cursor: pointer"
              (click)="triggerFileUpload()"
            >
              <div class="d-flex flex-column">
                <!-- <img src="./../../../../assets/img/UploadIcon.png" alt="img" /> -->
                <span class="">Drag and drop image, or browse</span>
                <span class="text-muted requirements"
                  ><small style="margin: auto">support jpg, jpeg, png</small>

                  <small style="margin: auto"
                    >Resolution must be 512px by 512px</small
                  >
                </span>
                <input
                  style="display: none"
                  class="file-input"
                  type="file"
                  (change)="readURL($event)"
                  accept=".jpg,.jpeg,.png"
                  #fileInput
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mt-2">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              formControlName="title"
            />
          </div>
          <div class="col-6 mt-2">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              formControlName="price"
            />
          </div>
        </div>
      </form>
      <div class="row mt-2">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-sm float-end w-25"
            (click)="editProduct()"
            data-bs-dismiss="modal"
            style="background-color: #7fad39; color: #fff"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
