<div class="product__item">
  <div class="product__item__pic set-bg" [ngStyle]="{'background-image': 'url(' + data.images[0] + ')'}">
    <ul class="product__item__pic__hover">
      <li><a href="#"><i class="fa fa-heart"></i></a></li>
      <li><a href="#"><i class="fa fa-retweet"></i></a></li>
      <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
  </div>
  <div class="product__item__text">
    <h6><a href="#">{{data.title}}</a></h6>
    <h5>{{data.price}}</h5>
  </div>
</div>
